 /* delete this part */
*{
  margin: 0;
  padding: 0;
}
 /* delete the above part */
/* ziad product carousel start */

.demo-product-container {
  width: 90%;
  margin: auto;
  display: flex;
}

.concern-wrapper {
  width: 40%;
  height: auto;
  margin: 3rem 1rem;
}

.concern-wrapper h3 {
  font-weight: bold;
  font-size: 2.5rem;
}

.concern-wrapper .subtitle {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.concern-mini {
  margin-top: 3rem;
}

.concern-mini .item {
  display: flex;
}

.concern-mini .item:not(:first-child) {
  margin-top: 30px;
}

.concern-mini .item img  {
  width: 40px;
  height: 40px;
  align-self: flex-start;
}

.concern-mini-text {
  margin-left: 10px;
}

.concern-mini-text .heading {
  font-weight: bold;
  margin: 0;
}

.subheading-concern, #subheading-product {
  margin-top: 5px;
}

.no-slider-carousel-wrapper {
  overflow: hidden;
}

.text-header {
  font-size: 18px;
  width: 40%;
  margin: 0 auto 15px;
  text-align: center;
}

.carousel-product-wrapper {
  overflow: hidden;
  width: 60%;
  margin: 3rem 0 0 2rem;
  float: right;
}

.price-carousel-product .no-slider-item {
  text-align: center;
}

.price-carousel-product .no-slider-item p {
  display: inline-block;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.carousel-product-list #price {
  color: #387d6d;
}

.carousel-product-list #price-strike {
  text-decoration: line-through;
  margin-right: 15px;
  color: #646464;
}

.learn-how-link .no-slider-item {
  text-align: center;
}

a#learn-how-btn {
  background-color: #2f7d6b;
  border: none;
  color: white;
  padding: 12px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
}

.carousel-product-wrapper * {
  box-sizing: border-box;
}

.carousel-product-list, .no-slider-carousel-list {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.no-slider-item {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  z-index: 100;
}

.carousel-product {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
  text-align: center;
}

.carousel-product.initial,
.carousel-product.active,
.no-slider-item.initial,
.no-slider-item.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel-product.previous-product,
.carousel-product.next-product,
.no-slider-item.previous-product,
.no-slider-item.next-product {
  z-index: 800;
}

.carousel-product.previous-product {
  transform: translateX(-100%);
}

.carousel-product.next-product {
  transform: translateX(100%);
}

#carousel-button-prev,
#carousel-button-next {
  position: absolute;
  top:50%;
  width: 5rem;
  height: 5rem;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
}

#carousel-button-prev {
  left:0;
}

#carousel-button-next {
  right:0;
}

#carousel-button-prev::after,
#carousel-button-next::after {
  content: " ";
  position: absolute;
  width: 45px;
  height: 45px;
  left: 54%;
  border-right: 10px solid #387d6d;
  border-bottom: 10px solid #387d6d;
  transform: translate(-50%, -50%) rotate(135deg);
}

#carousel-button-next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.carousel-product img {
  width: 350px;
  height: auto;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .demo-product-container {
    display: block;
  }
  .carousel-product-wrapper {
    width: 80%;
    float: none;
    padding: 0 !important;
    margin: auto;
  }
  .concern-wrapper {
    width: 80%;
    margin: auto;
    padding: 1rem 1rem;
  }

  .concern-wrapper h3, .concern-wrapper .subtitle {
    text-align: center;
  }

  .text-header {
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  .carousel-product img {
    width: 250px;
    height: auto;
  }

  #carousel-button-prev::after, #carousel-button-next::after {
    width: 30px;
	height: 30px;
    border-right: 5px solid #387d6d;
	border-bottom: 5px solid #387d6d;
  }
}

@media screen and (max-width: 400px) {
  .carousel-product img {
    width: 200px;
    height: auto;
  }
}

/* ziad product carousel end */