.motif-testimonial-slider-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  height: 100%;
  position: relative;
}


.testimonial-slider-navigator {
  display: flex;
  width: auto;
  padding: 25px 0;
  z-index: 10001;
}

.motif-fluid-wrapper {
  background-image: url('./images/bg-testimonial.jpg');
  background-position: left 500px bottom 10px;
  background-repeat: no-repeat;
}

.testimonial-heading {
  font-size: 2rem;
  font-weight: bold;
  width: 50%;
  padding: 20px 0;
}

.motif-testimonial-list {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.motif-testimonial-slider-container * {
  box-sizing: border-box;
}

/* .motif-testimonial-list.super-active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
} */

.motif-single-testimonial {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
  display: flex;
}

.motif-single-testimonial.initial,
.motif-single-testimonial.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.motif-single-testimonial.previous-product,
.motif-single-testimonial.next-product {
  z-index: 800;
}

.motif-single-testimonial.previous-product {
  transform: translateX(-100%);
}

.motif-single-testimonial.next-product {
  transform: translateX(100%);
}

.motif-testimonial-content {
  align-self: center;
  padding: 0 50px;
}

#testimonial-slider-btn-next,
#testimonial-slider-btn-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  align-self: center;
}

#testimonial-slider-btn-prev {
  margin-right: 10px;
  background: url('./images/arrow-left.png') center / 30px 30px;
}

#testimonial-slider-btn-next {
  margin-left: 10px;
  background: url('./images/arrow-right.png') center / 30px 30px;
}

/* #testimonial-slider-btn-prev::after,
#testimonial-slider-btn-next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 100%;
  top: 50%;
  border-right: 2px solid #387d6d;
  border-bottom: 2px solid #387d6d;
  transform: translate(-50%, -50%) rotate(135deg);
} */

/* #testimonial-slider-btn-next::after {
  transform: translate(-50%, -50%) rotate(-45deg);
} */

.motif-single-testimonial img {
  width: auto;
  height: 600px;
  pointer-events: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  object-fit: cover;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.motif-testimonial-wrapper {
  height: 700px;
  display: flex;
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.motif-testimonial-content p {
  font-size: 1.5rem;
}

.motif-video-wrapper {
  max-width: 500px;
  min-height: 315px;
  width: 100%;
  height: auto;
}

.motif-video-wrapper iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1169px) {
  .motif-testimonial-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 999px) {
  .motif-single-testimonial {
    flex-direction: column;
  }
  .motif-testimonial-wrapper {
    height: 100%;
  }
  .motif-video-wrapper {
    margin: 0 auto;
  }
  .testimonial-slider-navigator * {
    margin: 0 auto;
  }
  .motif-fluid-wrapper {
    background-position: left 0 bottom 10px;
  }

  .testimonial-heading {
    width: 90%;
  }

  .testimonial-heading h2 {
    font-size: 1.6rem;
  }

  .motif-testimonial-content p {
    font-size: 18px;
  }


}

@media screen and (max-width: 500px) {
  .motif-testimonial-content p {
    font-size: 16px;
  }
}